.barHeader {
    text-align: left;
    padding-left: 3.5%;
    background-color: rgb(247, 210, 90);
    border-bottom: 1px solid #636363;
    margin: 0 0 0 0;
}

.barHeaderTitle {
    margin: 2% 0;
    color: rgb(50, 50, 50);
}

.container {
    display: grid;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    width: min(30em, 90vw);
    margin: 25vh 10vw;
    padding: 0;
}

.logo {
    display: grid;
    justify-content: center;
    grid-template-columns: 60px 1fr;
}

.releaseLogo {
    width: 40px;
    position: relative;
    margin-left: 20px;
    bottom: 100%;
    top: 35%
}

.name {
    margin-left: 10%;
    margin-bottom: 1%;
}

.form {
    display: flex;
    flex-direction: column;
    padding-bottom: 15%;
}

.input {
    font-size: 1em;
    padding-inline: initial;
    text-align: start;
    padding: 4%;
    color:rgb(247, 210, 90);
    background-color: transparent;
    border-color: #636363;
    border-radius: 16px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 2vh;
    opacity: 1;
}

.input:disabled {
    color: rgb(247, 210, 90);
    opacity: 1;
    --webkit-text-fill-color: rgb(247, 210, 90);
}

.input::placeholder {
    color: rgb(247, 210, 90);
}

.button {
    font-size: 1em;
    background-color: rgb(247, 210, 90);
    color: rgb(36, 36, 36);
    border-radius: 16px;
    border-width: 1px;
    padding: 1.2vh;
}
