.memberItem {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px dashed #dddddd;
    justify-content: space-between;
    cursor: pointer;
}

.memberInfo {
    flex: 7;
    margin-left: 5%;
    flex-grow: 1;
}


.input {
    font-size: 1rem;
    padding: 12px;
    text-align: start;
    
    color: rgb(180, 130, 20); 
    
    background-color: transparent;
    border: 1px solid #636363;
    border-radius: 10px;
    
    width: 100%; 
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none;
}

.input:disabled {
    color: rgb(180, 130, 20);
    opacity: 1;
    -webkit-text-fill-color: rgb(180, 130, 20);
    background-color: rgba(0, 0, 0, 0.02);
    cursor: not-allowed;
}

.input::placeholder {
    color: rgba(180, 130, 20, 0.6);
}

.bookList {
    list-style: none;
    padding: 0;
    margin: 10px 0 20px 0;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #eee;
    border-radius: 8px;
}

.bookItem {
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
}

.button {
    font-size: 1rem;
    background-color: rgb(247, 210, 90);
    color: rgb(36, 36, 36);
    border: 1px solid rgb(247, 210, 90);
    border-radius: 10px;
    padding: 12px;
    
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 600;
}

.button:hover {
    background-color: rgb(227, 190, 70);
}

.deleteButton {
    font-size: 1rem;

    background-color: rgb(180, 40, 40); 
    color: white;
    
    border: 1px solid rgb(180, 40, 40);
    border-radius: 10px;
    padding: 12px;
    
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 600;
}

.deleteButton:hover {
    background-color: rgb(150, 20, 20);
}

.deleteButton:disabled {
    background-color: #ccc;
    border-color: #ccc;
    cursor: not-allowed;
}