.pageOutline {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    overflow-x: hidden;
    position: relative;
}

.logoButton {
    display: block;
    margin: 0px;
    padding: 0px;
    line-height: 0;
}

.releaseLogo {
    width: 40px;
    position: relative;
    left: 10px;
    bottom: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: rgb(90, 90, 90);
    padding: 0;
}

.sidebarOpenHandler {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    z-Index: 90;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-Index: 99;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 280px;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-out;
    z-Index: 100;
    padding: 20px;
    box-sizing: border-box;
}
