.pageOutline {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    overflow-x: hidden;
    position: relative;
}

.logoButton {
    display: block;
    margin: 0px;
    padding: 0px;
    line-height: 0;
}

.releaseLogo {
    width: 40px;
    position: relative;
    left: 10px;
    bottom: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: rgb(90, 90, 90);
    padding: 0;
}

.sidebarOpenHandler {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 10px;
    z-Index: 90;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0);
    z-Index: 99;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 280px;
    height: fit-content;
    background-color: rgba(0,0,0,0);
    transition: transform 0.3s ease-out;
    z-Index: 100;
    padding: 10px;
    box-sizing: border-box;
}

.loanStatusContent {
    display: flex;
    flex-direction: column;
    border: 1px solid #636363;
}

.loanHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px;
    background-color: #f7d15a;
    border-bottom: 1px solid #636363;
}

.loanHeader button {
    font-size: 1.25em;
    background: none;
    border: none;
    cursor: pointer;
}

.loanItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 21px;
    margin: 0;
}

.loanItemDetails {
    text-align: center;
}

.loanItemDetails > p {
    margin: 0;
}
