.box {
    border: 1px solid #636363;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    flex: 1;
    border-radius: 10px;
    background-color: #fafafa;
}

.barHeader {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding-left: 3.5%;
    padding-right: 3.5%;
    background-color: rgb(247, 210, 90);
    border-bottom: 1px solid #636363;
    margin: 0 0 0 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.barHeaderTitle {
    margin: 10px 0;
    color: rgb(50, 50, 50);
}

.barHeaderButton {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #555;
    line-height: 1;
}

.content {
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
