.header {
    text-align: left;
    padding-left: 3.5%;
    background-color: rgb(247, 210, 90);
    border-bottom: 2px solid rgb(191, 191, 191);
    margin: 0 0 0 0;
}

.headerTitle {
    margin: 2% 0;
    color: rgb(50, 50, 50);
}

.box {
    border: 2px solid rgb(191, 191, 191);
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: 0 10px;
    padding: 0;
    flex: 1;
}

.container {
    display: flex;
    background-color: #ffffff;
    color: rgb(90, 90, 90);
}

.content {
    padding: 15%
}

.form {
    display: flex;
    flex-direction: column;
    padding-bottom: 15%;
}

.input {
    font: .9em;
    padding-inline: initial;
    text-align: start;
    padding: 3%;
    color:rgb(247, 210, 90);
    background-color: transparent;
    border-color: rgb(191, 191, 191);
    border-radius: 5px;
    border-style: solid;
    margin: 2% 0;
    opacity: 1;
}

.input:disabled {
    color: rgb(247, 210, 90);
    opacity: 1;
    --webkit-text-fill-color: rgb(247, 210, 90);
}

.input::placeholder {
    color: rgb(247, 210, 90);
}

.button {
    background-color: rgb(247, 210, 90);
    color: rgb(36, 36, 36);
    border-radius: 20px;
}

.bookList {
    padding: 0;
}

.bookItem {
    display: flex;
}

.bookimage {
    flex: 1;
}

.bookinfo {
    flex: 7;
}