.barHeader {
    text-align: left;
    padding-left: 3.5%;
    background-color: rgb(247, 210, 90);
    border-bottom: 1px solid #636363;
    margin: 0 0 0 0;
}

.barHeaderTitle {
    margin: 2% 0;
    color: rgb(50, 50, 50);
}

.releaseLogo {
    width: 40px;
    position:  relative;
    left: 10px;
    bottom: 100%;
}

.box {
    border: 1px solid #636363;
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: 0 10px;
    padding: 0;
    flex: 1;
}

.pageOutline {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    background-color: #ffffff;
    color: rgb(90, 90, 90);
}

.content {
    padding: 15%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.form {
    display: flex;
    flex-direction: column;
    padding-bottom: 15%;
}

.input {
    font: .9em;
    padding-inline: initial;
    text-align: start;
    padding: 4%;
    color:rgb(247, 210, 90);
    background-color: transparent;
    border-color: #636363;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    margin: 2% 0;
    opacity: 1;
}

.input:disabled {
    color: rgb(247, 210, 90);
    opacity: 1;
    --webkit-text-fill-color: rgb(247, 210, 90);
}

.input::placeholder {
    color: rgb(247, 210, 90);
}

.button {
    background-color: rgb(247, 210, 90);
    color: rgb(36, 36, 36);
    border-radius: 20px;
    border-width: 1px;
    padding: 5px;
}

.bookList {
    padding: 0;
}

.bookItem {
    display: flex;
}

.bookimage {
    flex: 1;
}

.bookinfo {
    flex: 7;
    margin-left: 5%;
}