.searchBar {
    display: flex;
    flex-grow: 1;
    max-width: 700px;
    margin: 0 20px;
}

.searchInput {
    width: 100%;
    padding: 15px 21px;
    border: 1px solid #636363;
    border-right: none;
    outline: none;
    border-radius: 36px 0 0 36px; 
    font-size: 1rem;
}

.searchButton {
    padding: 15px 21px;
    border: 1px solid #636363;
    border-left: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 0 36px 36px 0; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchButton svg {
    font-size: 1.2rem;
    color: black;
}