.header {
    display: flex;
    align-items: center;
    margin: 39px;
}

.leftSection {
    flex: 1;
    display: flex;
    align-items: center;
}

.centerSection {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightSection {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}