header {
    text-align: left;
    padding-left: 3.5%;
    background-color: rgb(247, 210, 90);
    border-color: rgb(191, 191, 191);
    margin: 0 0 0 0;
}

header > p {
    margin: 2% 0;
    color: black;
}

.box {
    border: 2px solid rgb(75 70 74);
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: 0 0 0 0;
    padding: 0;
}

.container {
    display: flex;
}

.container > * {
    margin: 0 10px;
    flex: 1;
}

.content {
    padding: 15%
}

form {
    display: flex;
    flex-direction: column;
    padding-bottom: 15%;
}

input {
    font: .9em sans-serif;
    padding-inline: initial;
    text-align: start;
    padding: 3%;
    color:rgb(247, 210, 90);
    background-color: transparent;
    border-color: rgb(191, 191, 191);
    border-radius: 5px;
    border-style: solid;
    margin: 2% 0;
    opacity: 1; /* to get disabled text colored */
}

input:disabled {
    color: rgb(247, 210, 90);
    opacity: 1;
    --webkit-text-fill-color: rgb(247, 210, 90);
}

.input {
    border-color: rgb(191, 191, 191);
    border-radius: 5px;
    border-width: 10px;
    padding: 0%;
    align-items: stretch;
}

button {
    background-color: rgb(247, 210, 90);
    color: black;
    border-radius: 20px;
}