.pageOutline {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.logoButton {
    display: block;
    margin: 0px;
    padding: 0px;
    line-height: 0;
}

.releaseLogo {
    width: 40px;
    position: relative;
    left: 10px;
    bottom: 100%;
}

.container {
    display: flex;
    background-color: #ffffff;
    color: rgb(90, 90, 90);
    padding: 0;
}
